# python stuff
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MCTDHB stuff
*.in
*.out
*.dat
DATA/
media/
scripts/

# exclude help
!help_*

# binaries
boson_MCTDHB*
properties_LR*
CIc_bin
PSI_bin
